# Server Configuration
PORT=<your_server_port>  # Example: 3000

# Database Configuration
MONGODB_URI=<your_mongodb_connection_string>  # Example: mongodb+srv://username:password@cluster.mongodb.net/db-name